<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    
  </style>
</head>
<body>
  <ul>
    <li><a class="active" href="/Inventory">Inventory</a></li>
    <li><a href="/Product">Products</a></li>
    <li><a href="/location">Locations</a></li>
  </ul>


<h1>Add Inventory</h1>

<form action="/addInventory" method="post">

    <label>Product Name:</label>
    <select name="product" id="product">
      <% prod.forEach( function(item) { %>
      <option value="<%= item.name %>"><%= item.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label>Quantity:</label> <input name="quantity" type="number" min="1" />
  </div>
  <div><label>Date:</label>  <input
    name="date"
    type="date"
    max="<%= date.maxdate %>"
  /></div>
  <div>
    <label>Location: </label>
    <select name="location" id="location">
      <% loc.forEach( function(item) { %>
      <option value="<%= item.location_name %>">
        <%= item.location_name %>
      </option>
      <% }); %>
    </select>
  </div>
  <button type="submit">Save</button>
</form>
</body>